.header{
    background-color:red ;
    padding: 6px;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
background-color: azure;
}
label{
    line-height: 2rem;
    font-size: 1.2rem;
}
input{
    width:100%;
}
img{
    width: 50%;
    margin-top: 20px;
  margin-left: 180px;
   
}
button{
    height: 35px;
    width:100%;
}